/*Wikster CSS file*/

/*CONTENTS
1. General styles (Apply over the whole webpage)
2. Main homepage styles
3. Header (on the main homepage)
4. Content on the main homepage
5. Content in the information section
6. Footer
*/

/* General styles*/
html {
  min-height: 100%;
}

.page {
  position: relative;
  background-color:#ebebeb;
  font-family: 'Garamond', Georgia, serif;
  font-size: 100%;
  line-height: 1.55;
}

.wrapper {
  position: relative;
  max-width: 80em;
  margin: 0 auto;
}

h1 {
  margin: 0em;
  font-size: 5em;
}

h2 {
  margin: 0em;
  font-size: 2em;
  font-weight: lighter;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
  font-weight: normal;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

a:hover {
  color: transparent;
}

.content {
  text-align: center;
}

/* Main homepage */
.main-img {
  background: url("../images/library.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
}

/* Header */
.top {
  position: relative;
  top: 2em;
}

.top-nav {
  position: absolute;
  right: 0em;
  top: 0.5em;
  display: block;
}

.nav-buttons {
  margin: 1em;
  color: white;
  font-size: 1.4em;
}

/* Content in main homepage */
.title {
  position: relative;
  top: 30vh;
  width: 30em;
  height: 15em;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  position: relative;
  top: 40vh;
  width: 30em;
  height: 5em;
  margin: 0 auto;
}

.main-buttons {
  height: 2.5em;
  max-width: 6em;
  padding: 0.4em;
  border: 0.2em solid white;
  border-radius: 1em;
  color: white;
  font-size: 1.4em;
  text-align: center;
}

.sign {
  position: absolute;
  left: 0em;
  min-width: 6em;
  line-height: 2.5em;
}

.download {
  position: absolute;
  right: 0em;
  line-height: 1.3em;
}

/* Content in information section */
.info-section {
  margin: 6em auto 6em auto;
}

.info {
  display: block;
  max-width: 75%;
  margin: 6em auto 6em auto;
  background: white;
}

.info:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 6em
}

.pics {
  float: left;
  max-width: 60%;
  height: 19.5em;
}

.info-text {
  float: right;
  max-width: 32%;
  margin: 1% 4% 0 4%;
}

.text {
  font-weight: bold;
}

/* Footer */
.footer {
  height: 3em;
  margin: 0em;
  background-color: grey;
}

.copy {
  display: inline-block;
  height: 0.4em;
  margin: 1em;
  line-height: 1em;
}

.final-links {
  position: absolute;
  right: 0em;
  display: inline-block;
  font-size: 1.2em;
}

.footer-buttons {
  display: inline-block;
  margin-left: 2em;
  padding: 0.5em;
}

.footer a {
  color: black;
}
